
*.bak
*.ini
*.wlf
*.dat
*.dbs
*.psm
*.mpf
*.mti
*.filters
*.user
*.vcxproj
*.sln
*.mti
*.txt
*.vcd

work/_info
work
MP2_SYSTEM_C/MP2/MP2/MP2.vcxproj.user
MP2_SYSTEM_C/MP2/MP2.sln
MP2_SYSTEM_C/Release
MP2_SYSTEM_C/Debug
MP2_SYSTEM_C/.vs
MP2_VHDL/html
MP2_VHDL/Doc/MP1.docx
*.cdb
*.hdb
*.qmsg
*.rdb
*.ddb
*.xml
*.idb
*.sdo
*.xrf
*.vo
*.sft
*.summary
*.rpt
*.sof
*.pof
*.pin
*.jdi
*.smsg
*.done
*.qsf
*.db_info
*.ammdb
*.dfp
*.kpt
*.logdb
*.sig
*.hb_info
*.dpi
*.rcfdb
MP2_Verilog/incremental_db/README
*.qpf
*.cmp.bpm
*.hier_info
*.hif
*.ipinfo
*.lpc.html
*.map.bpm
*.quiproj.12344.rdr.flock
*.sgate.rvd
*.sgate_sm.rvd
*.sld_design_entry.sci
*.sld_design_entry_dsc.sci
*.sta_cmp.6_slow.tdb
*.syn_hier_info
*.qws
*.flock
*.do
MP2_Verilog/simulation/modelsim/msim_transcript
MP2_Verilog/simulation/modelsim/rtl_work/_info
MP2_Verilog/simulation/modelsim/rtl_work/_vmake
*.prw
