
*.bak
*.ini
*.wlf
*.dat
*.dbs
*.psm
*.mpf
*.mti
*.filters
*.user
*.vcxproj
*.sln
*.mti
*.txt
*.vcd

work/_info
work
MP2_SYSTEM_C/MP2/MP2/MP2.vcxproj.user
MP2_SYSTEM_C/MP2/MP2.sln
MP2_SYSTEM_C/Release
MP2_SYSTEM_C/Debug
MP2_SYSTEM_C/.vs
MP2_VHDL/html
MP2_VHDL/Doc/MP1.docx
*.cdb
*.hdb
*.qmsg
*.rdb
*.ddb
*.xml
*.idb
*.sdo
*.xrf
*.vo
*.sft
*.summary
*.rpt
*.sof
*.pof
*.pin
*.jdi
*.smsg
*.done
*.qsf
*.db_info
*.ammdb
*.dfp
*.kpt
*.logdb
*.sig
*.hb_info
*.dpi
*.rcfdb
MP2_Verilog/incremental_db/README
*.qpf
MP2_Verilog/db/MP2_Verilog.cmp.bpm
MP2_Verilog/db/MP2_Verilog.hier_info
MP2_Verilog/db/MP2_Verilog.hif
MP2_Verilog/db/MP2_Verilog.ipinfo
MP2_Verilog/db/MP2_Verilog.lpc.html
MP2_Verilog/db/MP2_Verilog.map.bpm
MP2_Verilog/db/MP2_Verilog.quiproj.12344.rdr.flock
MP2_Verilog/db/MP2_Verilog.sgate.rvd
MP2_Verilog/db/MP2_Verilog.sgate_sm.rvd
MP2_Verilog/db/MP2_Verilog.sld_design_entry.sci
MP2_Verilog/db/MP2_Verilog.sld_design_entry_dsc.sci
MP2_Verilog/db/MP2_Verilog.sta_cmp.6_slow.tdb
MP2_Verilog/db/MP2_Verilog.syn_hier_info
MP2_Verilog/MP2_Verilog.qws
