
*.bak
*.ini
*.wlf
*.dat
*.dbs
*.vhd
*.psm
*.mpf
*.mti
*.filters
*.user
*.vcxproj
*.sln
work/_info
work
MP2_SYSTEM_C/MP2/MP2/MP2.vcxproj.user
MP2_SYSTEM_C/MP2/MP2.sln
MP2_SYSTEM_C/Release
MP2_SYSTEM_C/Debug
MP2_SYSTEM_C/.vs


*.mti
*.vcd
